*.pyc
*~
summaryModAlgo/temp/
.ods#
summaryModAlgo/modOutput/
summaryModAlgo/preProcessOutput/
summaryModAlgo/contextFactMatrix/
summarModAlgo/contextFactPyramids/
summaryModAlgo/contextFactWeights/

