===== Remove stopwords and do stemming? (Y/N) =====
 
performStemming = Y

removeStopWords = Y
stopFilePath = ../data/smart_common_words.txt



===== Features to compute (place Y/N) =====

divergence = Y

frequencyFeatures = Y


---- For cosine and topic word features if "Y", must also specify word counts from a large corpus -----
---- See README for details about file format -----

cosineOverlap = Y

topicWordFeatures = Y

backgroundCorpusFreqCounts = ../data/bgFreqCounts.unstemmed.txt

backgroundIdfUnstemmed = ../data/bgIdfValues.unstemmed.txt

backgroundIdfStemmed = ../data/bgIdfValues.stemmed.txt

